.card {
    position: relative;
    border: 1px solid #fff;
    padding: 10px 50px;
    margin: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h3, h2 {
    margin: 10px 0;
    padding: 0;
}

.user-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.user-profile-pic {
    height: 250px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}